version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env.docker

  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5433:5432"
    env_file:
      - .env.docker
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: